body {
  background: #fafafa;
  color: #333333;
  min-height: 110vh;
  width: 99vw;
  position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #005f73;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.claire1 {
  height: 200px;
  width: 200px;
  object-fit: cover;
  z-index: 2;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s;
}

.claire1:hover {
  height: 400px;
  object-fit: contain;
  border-radius: 20px;
}

.claire-div {
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-top: 25px;
}

.motto-text {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgb(240, 115, 42);
}

.content-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.intro-section {
  width: 350px;
}

.linkedin-photo {
  width: 30%;
  height: 50%;
  border-radius: 20%;
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.combo1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.gmail {
  height: 22px;
  object-fit: contain;
}

.linkedin {
  height: 22px;
  object-fit: contain;
}

.github {
  height: 22px;
  object-fit: contain;
}

.gmail,
.linkedin,
.github {
  margin-right: 5px;
}

/* portfolio page */
.job-des-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 12px;
  border-bottom-color: rgb(226, 219, 219);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.icon-company-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.company-icon {
  width: 22px;
  object-fit: contain;
  vertical-align: top;
  padding-top: 2px;
}

.company-name {
  display: inline-block;
  flex: 1;
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: bold;
}

.incumbent-time {
  padding-left: 10px;
  color: #a8a2a2;
  font-size: 12px;
  font-weight: normal;
}

.job-title {
  padding-left: 29px;
  font-size: 15px;
  margin-bottom: 5px;
}

.miserable-job-contents {
  margin-left: 12px;
  font-size: 13px;
}

.my-resume {
  border-top: 3px;
  border-top-color: rgb(245, 152, 12);
  border-top-style: solid;
}

.my-education {
  border-top: 3px;
  border-top-color: rgb(15, 143, 47);
  border-top-style: solid;
}

main.container {
  padding-bottom: 3rem;
}

.footer-fixed-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(52,58,64);;
}

.footer-fixed-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-fixed-bottom .container .navbar-text {
  display: inline-block;
  color: #ffc107;
}
