{% extends 'blog/base.html' %}
{%block content%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">Me, Ranco</h2>
        </div>

        <div class="content-flex-wrapper">

            <div class="intro-section">
                <p>Made in China but long for freedom &#128509;</p>
                <p>Hence I'm here in Straya, the roo kingdom &#129432;</p>
                <p>Enamored with Python that's worth a ransom&#128081;</p>
                <p>Two things to me are the most important:</p>
                <p>My cute little beagle girl - Coco &#128054;</p>
                <p>and Claire ofc (in case you are reading) &#128521;</p>
            </div>

        </div>

    </div>

</article>
{%endblock content%}
