{% extends 'blog/base.html' %}
{%block content%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">Me, Ranco</h2>
        </div>

        <p class="article-content">Made in China but long for freedom</p>
        <p>Hence I'm here in Straya, the roo kingdom</p>
        <p>Two things to me are the most important:</p>
        <p>My cute little beagle girl- Coco</p>
        <p>and Claire ofc (in case you are reading) :P</p>
    </div>
</article>
{%endblock content%}