{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
  <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/65/65956.png" type="image/icon type">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Ranco Blog</title>
  {% endif %}
</head>

<body>
  <!-- Navbar -->
<header class="site-header">
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: #005f73;">
      <div class="container">
          <a href="{%url 'blog-home'%}" class="navbar-brand h1 my-1 display-5 fw-normal fs-4 text-light">
            <img class="d-inline-block align-top" style="width: 30px; object-fit:contain; border-radius:2px; margin-left: 5px; margin-right: 8px; padding-bottom: 3px;"
            src="https://cdn-icons-png.flaticon.com/512/235/235355.png" 
            alt="https://cdn-icons-png.flaticon.com/512/65/65956.png">Ranco's Blog
          </a>


          <!-- burger menu -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ms-3" id="navbarNav">
            <div class="navbar-nav me-auto">
              <a class="nav-item nav-link" href="{%url 'blog-about'%}">About</a>
              <a class="nav-item nav-link" href="{%url 'blog-portfolio'%}">Portfolio</a>
              <a class="nav-item nav-link" href="{%url 'blog-contactme'%}">Contact Me</a>
            
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {%if user.is_authenticated%}
            <a class="nav-item nav-link" href="{%url 'post-create'%}">New Post</a>
            <a class="nav-item nav-link" href="{%url 'user_profile'%}">Profile</a>
            <a class="nav-item nav-link" href="/admin">Admin</a>
            <a class="nav-item nav-link" href="{%url 'user_logout'%}">Logout</a>
            {%else%}
            <a class="nav-item nav-link" href="{%url 'user_login'%}">Login</a>
            <!-- <a class="nav-item nav-link" href="{%url 'user_register'%}">Register</a> -->
            {%endif%}
          </div>

        </div>
      </div>
  </nav>
</header>


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {%if messages%}
        {%for msg in messages%}
        <div class="alert alert-{{msg.tags}}">
          {{msg}}
        </div>
        {%endfor%}
        {%endif%}

        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Bulletin Board</h3>
          <p class='text-muted'>Follow my latest activities
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Announcements</li>
            <li class="list-group-item list-group-item-light">My Projects</li>
            <li class="list-group-item list-group-item-light">Contact Me</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

<div class="navbar navbar-inverse navbar-fixed-bottom py-0 mt-5" style="background-color: rgb(52,58,64);">
  <div class="container">
    <p class="navbar-text my-1" style="display: inline-block; color: #ffc107;">&#x2699; Powered by Django!</p>
    <p class="navbar-text my-1" style="display: inline-block; color: #ffc107;">&#xa9; 2022 Ranco Xu. All Rights Reserved</p>
  </div>
</div>

</html>