{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<h2>Good {{when}}, Ranco Here!</h2>
<br>
<div>
	<img src="{% get_media_prefix %}Professional_pic.jpeg" class="linkedin-photo">
</div>

<div class="contact-me">
    <div class="combo1">
        <img class="gmail" src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png">
        <span>rancoxu@gmail.com</span>
    </div>
    
    <div class="combo1">
        <img class="linkedin" src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg">
        <a href="https://www.linkedin.com/in/ranco-xu-99a264b3/" target="_blank">Ranco Xu</a>
    </div>
    
    <div class="combo1">
        <img class="github" src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        <a href="https://github.com/RancoX" target="_blank">RancoX</a>
    </div>
</div>


<br>
<p class="motto-text">Love life, love Python :)</p>
{%endblock content%}
