{%extends 'blog/base.html'%}
{%block content%}
<h1>Good {{when}}, Ranco here!</h1>
<br>
<div>
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGoQn1bsDkKGQ/profile-displayphoto-shrink_800_800/0/1573738281508?e=1665014400&v=beta&t=D0x5iX6v9aTvXl-cLFb0Uhgcw69zfamU239WTgwbFIA"
        style="width: 30%; height: 50%; border-radius: 20%; margin-top: 0; margin-bottom: 20px;">
</div>

<div>
    <img style="height: 22px; width: 25px; margin-right:5px; padding-left: 1px;"
        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png">
    rancoxu@gmail.com
</div>

<div>
    <img style="height: 22px; width: 28px; margin-right:2px;"
        src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg">
    <a href="https://www.linkedin.com/in/ranco-xu-99a264b3/" target="_blank">Ranco Xu</a>
</div>

<div>
    <img style="height: 22px; width: 25px; margin-right:5px; padding-left: 4px;"
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
    <a href="https://github.com/RancoX" target="_blank">RancoX</a>
</div>

<br>
<p>Love life, love Python :)</p>
{%endblock content%}