{% extends 'blog/base.html' %}
{%block content%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">Under construction</h2>
        </div>

        <div class="article">
            <h4>Work Experience</h4>
                <div style="margin-left: 10px; margin-top:5px;">
                    <img style="width: 22px; object-fit: contain; vertical-align: top; padding-top: 2px;" src="https://media-exp1.licdn.com/dms/image/C4D0BAQFFyKqcxD_L9Q/company-logo_200_200/0/1656682707482?e=1669248000&v=beta&t=o9Csll1Yt3Zq-SYeX3mffWgvU2RCP6s0gSJ_Jfyx51w" alt="">
                    <p style="display: inline-block; vertical-align: top;"><strong>Brighter Super</strong><small style="padding-left: 10px;"> Apr 2022 - Current</small></p>
                    <p style="padding-left: 32px; font-size: medium;">Senior Investment Analyst</p>
                </div>

                <div style="margin-left: 10px; margin-top:5px;">
                    <img style="width: 22px; object-fit: contain; vertical-align: top; padding-top: 2px;" src="https://play-lh.googleusercontent.com/zmsJQnH6VnPFswzsS3znDusYQra5NSy_iJba7kZlzIeksamm7meJtFoIQeXZ4alD0Xo=w240-h480-rw" alt="">
                    <p style="display: inline-block; vertical-align: top;"><strong>Suncorp Super</strong><small style="padding-left: 10px;"> Nov 2019 - Apr 2022</small></p>
                    <p style="padding-left: 32px; font-size: medium;">Investment Analyst</p>
                </div>
                
        </div>

    </div>

</article>
{%endblock content%}